<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">

      <!-- If a user is not authenticated, display the authentication links -->
    	<% if (user) { %>
    		<a href="/signout">Sign out</a>
    	<% } else { %>
    		<a href="/signup">Signup</a>
    		<a href="/signin">Signin</a>
    	<% } %>

    <%# <section>
      <input type="text" id="text1" ng-model="name">
      <input type="text" id="text2" ng-model="name">
    </section>%>

    <section ng-include="'example/views/example.client.view.html'"></section>

    </div>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Bootstrap AngularJS application -->
    <script src="/application.js"></script>
    <script src="/example/controllers/example.client.module.js">

    </script>
  </body>
</html>
