<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%# <meta http-equiv="Content-Security-Policy" default-src='http://localhost:3000' connect-src='self http://localhost:3000' style-src 'self'>%>
    <meta http-equiv="Content-Security-Policy"
            content="default-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; script-src 'self' https://cdnjs.cloudflare.com 'unsafe-inline' 'unsafe-eval';">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">

      <!-- If a user is not authenticated, display the authentication links -->
    	<% if (user) { %>
    		<a href="/signout">Sign out</a>
    	<% } else { %>
    		<a href="/signup">Signup</a>
    		<a href="/signin">Signin</a>
    	<% } %>

    <script type="text/javascript">
      window.user = <%- user || 'null' %>;
    </script>

    <section ng-view></section>

    </div>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/angular-route/angular-route.js"></script>
    <script src="/lib/angular-resource/angular-resource.js"></script>

    <!-- Bootstrap AngularJS application -->
    <script src="/application.js"></script>
    <script src="/example/example.client.module.js"></script>
    <script src="/example/controllers/example.client.controller.js"></script>
    <script src="/example/controllers/echo.client.controller.js"></script>
    <script src="/example/config/example.client.routes.js"></script>
    <script src="/users/users.client.module.js"></script>
    <script src="/users/services/authentication.client.service.js"></script>
    <script src="/echo/echo.client.module.js"></script>
    <script src="/echo/services/echo.client.service.js"></script>
  </body>
</html>
